src/IOT/Dev/DCServices/Trunk/TestConsole/Service References/srAtms/atm31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dcnode-1.cloudapp.net/atm.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/dcweb.Models" />
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btc" type="xs:double" />
        <xs:element minOccurs="0" name="verfied" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/dcweb.Models" minOccurs="0" name="CreateOrderResult" nillable="true" type="q1:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBitcoins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btc" type="xs:double" />
        <xs:element minOccurs="0" name="bitcoinAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBitcoinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendBitcoinsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBitcoinAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="currenceyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBitcoinAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBitcoinAmountResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmations" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBalanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>