src/IOT/Dev/BitcoinATMReleaseVersion/BitcoinATM/BitcoinATM/Service References/DCExchange/Exchange2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DC.Providers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DC.Providers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PriceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Side" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceData" nillable="true" type="tns:PriceData" />
</xs:schema>