src/IOT/Dev/vsPortal/Dev/Service References/DC.CardService/Card3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DC.Cards" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DC.Cards" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChargeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="failure_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="failure_message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChargeResult" nillable="true" type="tns:ChargeResult" />
</xs:schema>