src/IOT/Dev/TestHarness/TestHarness/Service References/atm/atm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://node.diamondcircle.net/atm.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/dcweb.Models" />
  <xs:element name="CreatePublicEncryptedPrivateKey">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePublicEncryptedPrivateKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/dcweb.Models" minOccurs="0" name="CreatePublicEncryptedPrivateKeyResult" nillable="true" type="q1:Keys" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="btc" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/dcweb.Models" minOccurs="0" name="CreateOrderResult" nillable="true" type="q2:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBitcoins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="bitcoinAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBitcoinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendBitcoinsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBitcoinAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:decimal" />
        <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBitcoinAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBitcoinAmountResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmations" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBalanceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PublicKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PinNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isCardOnFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isCardOnFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isCardOnFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TerminalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumuratorCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DenominatorCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="Price" type="xs:decimal" />
        <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteTransactionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateaPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaymentProvider" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateaPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateaPaymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMargin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TerminalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMarginResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="BuyMargin" type="xs:decimal" />
        <xs:element minOccurs="0" name="SellMargin" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOnlineAccount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOnlineAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOnlineAccountResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ConfirmToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>