src/IOT/Dev/DCBitcoinATM/Trunk/BitcoinATM/Service References/DCExchange/Exchange1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://payment.diamondcircle.net/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://payment.diamondcircle.net/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://payment.diamondcircle.net/v1/Imports">
      <xsd:import schemaLocation="https://payment.diamondcircle.net/Exchange.svc?xsd=xsd0" namespace="https://payment.diamondcircle.net/v1" />
      <xsd:import schemaLocation="https://payment.diamondcircle.net/Exchange.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://payment.diamondcircle.net/Exchange.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DC.Common.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExchange_GetSpotPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotPrice" />
  </wsdl:message>
  <wsdl:message name="IExchange_GetSpotPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IExchange_GetMargin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMargin" />
  </wsdl:message>
  <wsdl:message name="IExchange_GetMargin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarginResponse" />
  </wsdl:message>
  <wsdl:portType name="IExchange">
    <wsdl:operation name="GetSpotPrice">
      <wsdl:input wsaw:Action="https://payment.diamondcircle.net/v1/IExchange/GetSpotPrice" message="tns:IExchange_GetSpotPrice_InputMessage" />
      <wsdl:output wsaw:Action="https://payment.diamondcircle.net/v1/IExchange/GetSpotPriceResponse" message="tns:IExchange_GetSpotPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMargin">
      <wsdl:input wsaw:Action="https://payment.diamondcircle.net/v1/IExchange/GetMargin" message="tns:IExchange_GetMargin_InputMessage" />
      <wsdl:output wsaw:Action="https://payment.diamondcircle.net/v1/IExchange/GetMarginResponse" message="tns:IExchange_GetMargin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>