src/IOT/Dev/DCPOS/Development/Service References/dclapi/DCLAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DCLAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IDCLAPI_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://dcltest1.azurewebsites.net/DCLAPI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://dcltest1.azurewebsites.net/DCLAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://dcltest1.azurewebsites.net/DCLAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DC.Common.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDCLAPI_SendBitcoins_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBitcoins" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_SendBitcoins_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBitcoinsResponse" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_PurchaseBitcoins_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseBitcoins" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_PurchaseBitcoins_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseBitcoinsResponse" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_GetSpotPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotPrice" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_GetSpotPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpotPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_ChkPINLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:ChkPINLimit" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_ChkPINLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChkPINLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_checkPin_InputMessage">
    <wsdl:part name="parameters" element="tns:checkPin" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_checkPin_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkPinResponse" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_GetBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_GetBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_CreatePublicEncryptedPrivateKey_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePublicEncryptedPrivateKey" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_CreatePublicEncryptedPrivateKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePublicEncryptedPrivateKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_AddCardWithPinLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCardWithPinLimit" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_AddCardWithPinLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCardWithPinLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_IsCardOnFile_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCardOnFile" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_IsCardOnFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCardOnFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IDCLAPI_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IDCLAPI">
    <wsdl:operation name="SendBitcoins">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCLAPI/SendBitcoins" message="tns:IDCLAPI_SendBitcoins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCLAPI/SendBitcoinsResponse" message="tns:IDCLAPI_SendBitcoins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseBitcoins">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCLAPI/PurchaseBitcoins" message="tns:IDCLAPI_PurchaseBitcoins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCLAPI/PurchaseBitcoinsResponse" message="tns:IDCLAPI_PurchaseBitcoins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpotPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCLAPI/GetSpotPrice" message="tns:IDCLAPI_GetSpotPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCLAPI/GetSpotPriceResponse" message="tns:IDCLAPI_GetSpotPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChkPINLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCLAPI/ChkPINLimit" message="tns:IDCLAPI_ChkPINLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCLAPI/ChkPINLimitResponse" message="tns:IDCLAPI_ChkPINLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkPin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCLAPI/checkPin" message="tns:IDCLAPI_checkPin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCLAPI/checkPinResponse" message="tns:IDCLAPI_checkPin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCLAPI/GetBalance" message="tns:IDCLAPI_GetBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCLAPI/GetBalanceResponse" message="tns:IDCLAPI_GetBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePublicEncryptedPrivateKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCLAPI/CreatePublicEncryptedPrivateKey" message="tns:IDCLAPI_CreatePublicEncryptedPrivateKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCLAPI/CreatePublicEncryptedPrivateKeyResponse" message="tns:IDCLAPI_CreatePublicEncryptedPrivateKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCardWithPinLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCLAPI/AddCardWithPinLimit" message="tns:IDCLAPI_AddCardWithPinLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCLAPI/AddCardWithPinLimitResponse" message="tns:IDCLAPI_AddCardWithPinLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCardOnFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCLAPI/IsCardOnFile" message="tns:IDCLAPI_IsCardOnFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCLAPI/IsCardOnFileResponse" message="tns:IDCLAPI_IsCardOnFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDCLAPI/SendEmail" message="tns:IDCLAPI_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDCLAPI/SendEmailResponse" message="tns:IDCLAPI_SendEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDCLAPI" type="tns:IDCLAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendBitcoins">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/SendBitcoins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseBitcoins">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/PurchaseBitcoins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpotPrice">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/GetSpotPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChkPINLimit">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/ChkPINLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPin">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/checkPin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePublicEncryptedPrivateKey">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/CreatePublicEncryptedPrivateKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCardWithPinLimit">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/AddCardWithPinLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCardOnFile">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/IsCardOnFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IDCLAPI" type="tns:IDCLAPI">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IDCLAPI_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendBitcoins">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/SendBitcoins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseBitcoins">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/PurchaseBitcoins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpotPrice">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/GetSpotPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChkPINLimit">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/ChkPINLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPin">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/checkPin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePublicEncryptedPrivateKey">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/CreatePublicEncryptedPrivateKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCardWithPinLimit">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/AddCardWithPinLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCardOnFile">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/IsCardOnFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IDCLAPI/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DCLAPI">
    <wsdl:port name="BasicHttpBinding_IDCLAPI" binding="tns:BasicHttpBinding_IDCLAPI">
      <soap:address location="http://dcltest1.azurewebsites.net/DCLAPI.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IDCLAPI" binding="tns:BasicHttpsBinding_IDCLAPI">
      <soap:address location="https://dcltest1.azurewebsites.net/DCLAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>