src/IOT/Dev/DCServices/Development/TestConsole/Service References/srAtm/atm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="atm" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49384/atm.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49384/atm.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49384/atm.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/dcweb.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAtm_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IAtm_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IAtm_SendBitcoins_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBitcoins" />
  </wsdl:message>
  <wsdl:message name="IAtm_SendBitcoins_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBitcoinsResponse" />
  </wsdl:message>
  <wsdl:message name="IAtm_GetBitcoinAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBitcoinAmount" />
  </wsdl:message>
  <wsdl:message name="IAtm_GetBitcoinAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBitcoinAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IAtm_GetBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="IAtm_GetBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IAtm">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtm/CreateOrder" message="tns:IAtm_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtm/CreateOrderResponse" message="tns:IAtm_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBitcoins">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtm/SendBitcoins" message="tns:IAtm_SendBitcoins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtm/SendBitcoinsResponse" message="tns:IAtm_SendBitcoins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBitcoinAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtm/GetBitcoinAmount" message="tns:IAtm_GetBitcoinAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtm/GetBitcoinAmountResponse" message="tns:IAtm_GetBitcoinAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtm/GetBalance" message="tns:IAtm_GetBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtm/GetBalanceResponse" message="tns:IAtm_GetBalance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAtm" type="tns:IAtm">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IAtm/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBitcoins">
      <soap:operation soapAction="http://tempuri.org/IAtm/SendBitcoins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBitcoinAmount">
      <soap:operation soapAction="http://tempuri.org/IAtm/GetBitcoinAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/IAtm/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="atm">
    <wsdl:port name="BasicHttpBinding_IAtm" binding="tns:BasicHttpBinding_IAtm">
      <soap:address location="http://localhost:49384/atm.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>