src/IOT/Dev/DCServices/Development/TestConsole/Service References/srAtm/atm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/dcweb.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/dcweb.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element name="_x003C_Address_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BTC_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_PrivateKey_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Txn_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>