src/IOT/Dev/DCBitcoinATM/QSPayments-branch/BitcoinATM/Service References/ATM/atm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://node.diamondcircle.net" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://node.diamondcircle.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://node.diamondcircle.net/Imports">
      <xsd:import schemaLocation="https://node.diamondcircle.net/atm.svc?xsd=xsd0" namespace="https://node.diamondcircle.net" />
      <xsd:import schemaLocation="https://node.diamondcircle.net/atm.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://node.diamondcircle.net/atm.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DC.Common.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAtm_CreatePublicEncryptedPrivateKey_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePublicEncryptedPrivateKey" />
  </wsdl:message>
  <wsdl:message name="IAtm_CreatePublicEncryptedPrivateKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePublicEncryptedPrivateKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IAtm_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IAtm_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IAtm_TransferCoinsToBuyer_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferCoinsToBuyer" />
  </wsdl:message>
  <wsdl:message name="IAtm_TransferCoinsToBuyer_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferCoinsToBuyerResponse" />
  </wsdl:message>
  <wsdl:message name="IAtm_ReceiveCoins_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveCoins" />
  </wsdl:message>
  <wsdl:message name="IAtm_ReceiveCoins_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveCoinsResponse" />
  </wsdl:message>
  <wsdl:message name="IAtm_GetBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="IAtm_GetBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IAtm">
    <wsdl:operation name="CreatePublicEncryptedPrivateKey">
      <wsdl:input wsaw:Action="https://node.diamondcircle.net/IAtm/CreatePublicEncryptedPrivateKey" message="tns:IAtm_CreatePublicEncryptedPrivateKey_InputMessage" />
      <wsdl:output wsaw:Action="https://node.diamondcircle.net/IAtm/CreatePublicEncryptedPrivateKeyResponse" message="tns:IAtm_CreatePublicEncryptedPrivateKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="https://node.diamondcircle.net/IAtm/CreateOrder" message="tns:IAtm_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="https://node.diamondcircle.net/IAtm/CreateOrderResponse" message="tns:IAtm_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferCoinsToBuyer">
      <wsdl:input wsaw:Action="https://node.diamondcircle.net/IAtm/TransferCoinsToBuyer" message="tns:IAtm_TransferCoinsToBuyer_InputMessage" />
      <wsdl:output wsaw:Action="https://node.diamondcircle.net/IAtm/TransferCoinsToBuyerResponse" message="tns:IAtm_TransferCoinsToBuyer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveCoins">
      <wsdl:input wsaw:Action="https://node.diamondcircle.net/IAtm/ReceiveCoins" message="tns:IAtm_ReceiveCoins_InputMessage" />
      <wsdl:output wsaw:Action="https://node.diamondcircle.net/IAtm/ReceiveCoinsResponse" message="tns:IAtm_ReceiveCoins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input wsaw:Action="https://node.diamondcircle.net/IAtm/GetBalance" message="tns:IAtm_GetBalance_InputMessage" />
      <wsdl:output wsaw:Action="https://node.diamondcircle.net/IAtm/GetBalanceResponse" message="tns:IAtm_GetBalance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>