src/IOT/Dev/DCBitcoinATM/QSPayments-branch/BitcoinATM/Service References/ATM/atm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://node.diamondcircle.net" elementFormDefault="qualified" targetNamespace="https://node.diamondcircle.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://node.diamondcircle.net/atm.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DC.Common.Models" />
  <xs:element name="CreatePublicEncryptedPrivateKey">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePublicEncryptedPrivateKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DC.Common.Models" minOccurs="0" name="CreatePublicEncryptedPrivateKeyResult" nillable="true" type="q1:Keys" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DC.Common.Models" minOccurs="0" name="CreateOrderResult" nillable="true" type="q2:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferCoinsToBuyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferCoinsToBuyerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferCoinsToBuyerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveCoins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encryptedPrivateKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveCoinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiveCoinsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmations" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBalanceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>