src/IOT/Dev/DCBitcoinATM/QSPayments-branch/BitcoinATM/Service References/DCExchange/Exchange2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DC.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DC.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Margin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buy" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sell" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Margin" nillable="true" type="tns:Margin" />
</xs:schema>